{% import "_includes/forms" as forms %}

{% set config = {
    id: name ~ link.type|id ~ '-value',
    name: name ~ '[values]['~ link.type ~']',
    options: options,
    value: currentLink.section.id ?? null,
} %}


{%- set labelId = (config.labelId is defined ? config.labelId : (config.id is defined ? config.id~'-label' : null)) %}
{%- set fieldId = (config.fieldId is defined ? config.fieldId : (config.id is defined ? config.id~'-field' : null)) %}
{%- set label = (config.label is defined and config.label != '__blank__' ? config.label : null) %}
{%- set siteId = ((craft.app.getIsMultiSite() and config.siteId is defined) ? config.siteId : null) %}
{%- set site = (siteId ? craft.app.sites.getSiteById(siteId) : null) %}
{%- set instructions = (config.instructions is defined ? config.instructions : null) %}
{%- set warning = (config.warning is defined ? config.warning : null) %}
{%- set orientation = (site ? craft.app.i18n.getLocaleById(site.language) : craft.app.locale).getOrientation() %}
{%- set translatable = config.translatable ?? (site is not same as(null)) %}
{%- set errors = (config.errors is defined ? config.errors : null) -%}
{%- set fieldClass = [
    'field',
    (config.first is defined and config.first ? 'first' : null),
    (errors ? 'has-errors' : null),
    (config.fieldClass is defined and config.fieldClass ? config.fieldClass : null)
]|filter|join(' ') %}

<div class="{{ fieldClass }}"
        {%- if fieldId %} id="{{ fieldId }}"{% endif %}
        {%- if block('attr') is defined %} {{ block('attr') }}{% endif %}>
    {% if label or instructions %}
        <div class="heading">
            {% if label %}
                <label {% if labelId %} id="{{ labelId }}"{% endif %}{% if required is defined and required %} class="required"{% endif %}{% if id is defined and id %} for="{{ id }}"{% endif %}>
                    {{- label|raw -}}
                    {%- if translatable %} <span class="extralight" data-icon="language" title="{{ translationDescription ?? 'This field is translatable.'|t('app') }}"></span>{% endif -%}
                </label>
            {% endif %}
            {% if instructions %}
                <div class="instructions">{{ instructions|md|replace('/&amp;(\\w+);/', '&$1;')|raw }}</div>
            {% endif %}
        </div>
    {% endif %}
	{% set prefix = name~'-section-' %}
    <div class="input {{ orientation }}{% if errors %} errors{% endif %}">
        {{ forms.select(config|merge({
			class:'channel',
			toggle: true,
		    targetPrefix: prefix
		}))|raw }} {# channel #}

		{% for option in config.options %}
		{% set types = [{value:'null', label:'All'}] %}
		{% for entryType in craft.app.sections.getSectionById(option.value).entryTypes %}
			{% set types = types|merge([{value:entryType.id, label:entryType.name}]) %}
		{% endfor %}

		

		{% set isSelected = currentLink ? (currentLink.section and currentLink.section.id == option.value) or (not currentLink.section and loop.first) : (loop.first ? true : false) %}
		{% set isSelected = false %}
		{# name:name ~ '[values]['~ link.type ~'-'~option.value~'-customText]',  #}
		{% embed "_includes/forms/select" with config|merge({
			name:name ~ '[entryTypes]['~ link.type ~']['~option.value~']', 
			class:'entrytype '~(not isSelected ? 'hidden' : ''),
			options: types,
			option: option,
			value: currentLink.entryType.id ?? null,
			prefix:prefix
		}) only %}{% block attr %}id="{{prefix~option.value}}"{% endblock %}{% endembed %}

		{% endfor %}
    </div>
    {% if warning %}
        <p class="warning">{{ warning|md(inlineOnly=true)|replace('/&amp;(\\w+);/', '&$1;')|raw }}</p>
    {% endif %}
    {% include "_includes/forms/errorList" with { errors: errors } %}
</div>
