{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Listing Source plugin for Craft CMS
 *
 * ListingSourceField Field Settings
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   ListingSource
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("kuriousagency\\listingsource\\assetbundles\\settings\\SettingsAsset") %} #}

{# {{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}} #}

<div class="listingsource--fieldSettings">
	{{ forms.field({
		label: 'Listing Sources',
		instructions: "Select and configure the sources you would like to make available.",
		first: true,
		errors: field.getErrors('sources'),
	}) }}

{% for sourceType in field.allSourceTypes %}

	{% set name = 'types['~sourceType.class~']' %}
	{% set isEnabled = field.types[sourceType.class].enabled ?? false %}

	{{ forms.lightSwitchField({
		id: sourceType.type|id,
		name: name~'[enabled]',
		label: sourceType.name,
		toggle: sourceType.hasSettings ? '#' ~ sourceType.type|id ~ '-settings' : null,
		on: isEnabled,
	}) }}

	{% if sourceType.hasSettings %}
		<div id="{{ sourceType.type|id }}-settings" class="{{ not isEnabled ? 'hidden' }}">
		{{ forms.checkboxSelectField({
			label: "Sources"|t('listingsource'),
			instructions: "Which sources do you want to select {type} from?"|t('listingsource', { type: sourceType.name|lower }),
			id: sourceType.type|id~'-sources',
			name: name~'[sources]',
			options: sourceType.sourceTypes,
			values: field.types[sourceType.class].sources ?? '*',
			errors: field.getErrors(sourceType.class),
			showAllOption: true,
		}) }}
				
		</div>
	{% endif %}

{% endfor %}
</div>